@model Anish.Models.CountryAndStateVM

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel panel-body">

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Director Message</h4>
            </div>
            <div class="panel-body">
                <img src="~/Content/logo.png" class="img-responsive" />
                <p>Hello welcome to my site</p>
            </div>
        </div>

    </div>

    <div class="col-md-9">

        @if (ViewBag.CountryList != null)
        {
            @Html.DropDownListFor(m => m.CountryId, ViewBag.CountryList as SelectList, "--SelectList Country--", new { @class = "form-control"})
            @Html.DropDownListFor(m => m.StateId, new SelectList(""), "--Select State", new { @class= "form-control"})
        }

    </div>

</div>

<script>

    $(document).ready(function () {
        $("#CountryId").change(function () {

            var countryId = $(this).val();
            debugger;

            $.ajax({
                method: "POST",
                url: "/Country/GetStateList?countryId=" + countryId,
                contenType: "html",
                success(response) {
                    $("#StateId").empty();
                    $("#StateId").append(response);
                }
            });

        });
    });

</script>
