@model Anish.Models.ModelC

@{
    ViewBag.Title = "IndexA";
}



<div class="panel panel-body">

    <div class="col-md-3">       
        @{ Html.RenderAction("SideMenu", "EmployeeOne");}
    </div>

    <div class="col-md-9">
        <h3>@Model.Age</h3>

        @if (Model != null)
        {
            <div class="col-md-6">
                <ul class="list-group">
                    @foreach (var item in Model.ListA)
                     {
                        <li class="list-group-item">
                            @item.Name
                        </li>
                     }
                </ul>
            </div>

            <div class="col-md-6">
                <ul>
                    @foreach (var item in Model.ListB)
                     {
                        <li class="list-group-item">
                            @item.Country
                        </li>
                    }
                </ul>
            </div>

        }

    </div>
</div>






