@model Anish.Models.Employee

@{
    ViewBag.Title = "EmployeeDetails";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container" style="width:80%;margin-top:40px;">
    <h2>EmployeeDetails</h2>

    <table class="table table-bordered">
         <tr>
            <td>Employee Name</td>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <td>Employee Address</td>
            <td>@Model.Address</td>
        </tr>

        <tr>
            <td>Department Name</td>
            <td>@Model.Department1.Name</td>
        </tr>
    </table>

</div>