@model Anish.Models.EmployeeViewModel

@{
    ViewBag.Title = "Helper";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div class="container" style="width:50%;margin-top:40px;">
    <h2>Helper</h2>

    @Html.DropDownListFor(model => model.EmployeeId,
    ViewBag.DepartmentList as SelectList, "--select--", new { @class = "form-control" })

    @Html.TextBoxFor(m => m.Name, new { @class="form-control", @placeholder = "Name"})
    @Html.TextBoxFor(m => m.Address, new { @class="form-control", @placeholder="Address"})

    <div class="checkbox">
        <lable>
            @Html.CheckBox("Remember")
            check out this
        </lable>
    </div>

    <button class="btn btn-block btn-primary">Submit</button>

</div>