
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h1> @ViewBag.Name </h1>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<table class="table table-striped">
    <tr>
        <th>List Name</th>
    </tr>
    <tbody>
        @if (ViewBag.NameList != null)
        {
            foreach (var item in ViewBag.NameList)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        }
    </tbody>
</table>

