@model Anish.Models.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Director Message</h4>
            </div>
            <div class="panel-body">
                <img src="~/Content/logo.png" class="img-responsive" />
                <p>Hello welcome to my site</p>
            </div>
        </div>

    </div>

    <div class="col-md-9">
        <img src="~/Content/lot-body.jpg" class="img-responsive" />
        <hr />
        <img src="~/Content/wensolution.png" class="img-responsive" />
    </div>

</div>

