@model Anish.Models.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body">
    <div class="col-md-3">Hello</div>
    <div class="col-md-3">Hello</div>
    <div class="col-md-3">Hello</div>
    <div class="col-md-3">Hello</div>
</div>

