@model Anish.Models.MyShop

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel panel-body">
    <div class="col-md-3">
        @{ Html.RenderAction("SideMenu", "EmployeeOne");}
    </div>

    <div class="col-md-9">
        <div class="col-md-5">
            <ul id="ItemList" class="list-group">
                <li class="list-group-item-heading list-group-item active">
                    <h4 class="list-group-item-text">Available items</h4>
                </li>
                @foreach (var item in ViewBag.ItemList)
                {
                    <li class="list-group-item">
                            <input type="checkbox" checked="@item.IsAvailable" id="Check_@item.ItemId" />
                            <labl for="Check_@item.ItemId">@item.ItemName</labl>
                    </li>
                }
                <li class="list-group-item">
                    <a class="btn btn-success btn-block" onclick="saveList()">Update Item</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    var saveList = function () {
        var arrItem = [];
        var commaSeperatedId;
        $("#ItemList li input[type=checkbox]").each(function (index, val) {
            var checkedId = $(val).attr("Id");
            var arr = checkedId.split('_');
            var currentCheckBoxId = arr[1];
            var isChecked = $("#", checkedId).is("checked", true);
            if (isChecked) {
                arrItem.push(currentCheckBoxId);
            }
            if (arrItem.length != 0) {
                commaSeperatedId = arrItem.toString();
            }
            $.aja({
                type: "POST",
                url: "/Shop/SaveList",
                data: { arrItem: commaSeperatedId },
                success: function (response) {

                }
            });
        });
    }  
</script>